## EDA of dataset for Model Development

Package Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

In [3]:
import os
print(os.getcwd())

/Users/jackguptill/Library/CloudStorage/OneDrive-UniversityofTennessee/FantasyAppRec/model

Data Imports

In [25]:
#base_path = 'c:/Users/jackg/OneDrive - University of Tennessee/FantasyAppRec/datafiles/'
base_path = '/Users/jackguptill/Library/CloudStorage/OneDrive-UniversityofTennessee/FantasyAppRec/datafiles/'


# Competition Data
combine_data_raw = pd.read_csv(base_path + 'external/combine_data.csv')
ftn_charting_raw = pd.read_csv(base_path + 'external/ftn_charting.csv')
injuries_raw = pd.read_csv(base_path + 'external/injuries.csv')
rush_raw = pd.read_csv(base_path + 'external/rush.csv')
tackle_nfl_raw = pd.read_csv(base_path + 'external/tackle_nfl.csv') #DtypeWarning: Columns (10,12,14,31,32,33) have mixed types.
team_rosters_raw = pd.read_csv(base_path + 'external/team_rosters.csv')

# External Data
games_raw = pd.read_parquet(base_path + 'competition_data/games.parq', engine ='fastparquet')
players_raw = pd.read_parquet(base_path + 'competition_data/players.parq', engine ='fastparquet')
plays_raw = pd.read_parquet(base_path + 'competition_data/plays.parq', engine ='fastparquet')
tackles_raw = pd.read_parquet(base_path + 'competition_data/tackles.parq', engine ='fastparquet')
tracking_all_weeks_raw = pd.read_parquet(base_path + 'competition_data/tracking_all_weeks.parq', engine ='fastparquet')

# Performance Data
performance_2023_raw = pd.read_csv(base_path + 'historical_points_2023.csv')

# Projections
DST_projections_raw = pd.read_csv(base_path + FantasyPros_Fantasy_Football_Projections_DST.csv)
K_projections_raw = pd.read_csv(base_path + FantasyPros_Fantasy_Football_Projections_K.csv)
QB_projections_raw = pd.read_csv(base_path + FantasyPros_Fantasy_Football_Projections_QB.csv)
RB_projections_raw = pd.read_csv(base_path + FantasyPros_Fantasy_Football_Projections_RB.csv)
TE_projections_raw = pd.read_csv(base_path + FantasyPros_Fantasy_Football_Projections_TE.csv)
WR_projections_raw = pd.read_csv(base_path + FantasyPros_Fantasy_Football_Projections_WR.csv)

/var/folders/wb/stch18dn2z1gw9s72md26f740000gn/T/ipykernel_90955/2535478588.py:10: DtypeWarning: Columns (10,12,14,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  tackle_nfl_raw = pd.read_csv(base_path + 'external/tackle_nfl.csv') #DtypeWarning: Columns (10,12,14,31,32,33) have mixed types.

ImportError: Missing optional dependency 'fastparquet'. fastparquet is required for parquet support. Use pip or conda to install fastparquet.

Exploring the Data Sets

In [26]:
combine_data_raw.head()

,season,draft_year,draft_team,draft_round,draft_ovr,pfr_id,cfb_id,player_name,pos,school,ht,wt,forty,bench,vertical,broad_jump,cone,shuttle
0,2018,2018.0,San Francisco 49ers,2.0,44.0,PettDa00,dante-pettis-1,Dante Pettis,WR,Washington,6-0,186.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,2018.0,Indianapolis Colts,2.0,52.0,TuraKe00,kemoko-turay-1,Kemoko Turay,EDGE,Rutgers,6-5,253.0,4.65,NaN,NaN,NaN,NaN,NaN
2,2018,NaN,NaN,NaN,NaN,AdamJo03,josh-adams-2,Josh Adams,RB,Notre Dame,6-2,213.0,NaN,18.0,NaN,NaN,NaN,NaN
3,2018,NaN,NaN,NaN,NaN,NaN,NaN,Ola Adeniyi,EDGE,Toledo,6-2,248.0,4.83,26.0,31.5,NaN,7.21,4.28
4,2018,2018.0,Houston Texans,3.0,98.0,AkinJo00,jordan-akins-1,Jordan Akins,TE,Central Florida,6-3,249.0,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
ftn_charting_raw.head()

,ftn_game_id,nflverse_game_id,season,week,ftn_play_id,nflverse_play_id,starting_hash,qb_location,n_offense_backfield,n_defense_box,is_no_huddle,is_motion,is_play_action,is_screen_pass,is_rpo,is_trick_play,is_qb_out_of_pocket,is_interception_worthy,is_throw_away,read_thrown,is_catchable_ball,is_contested_ball,is_created_reception,is_drop,is_qb_sneak,n_blitzers,n_pass_rushers,is_qb_fault_sack,date_pulled
0,5959,2022_06_WAS_CHI,2022,6,976911,54,L,S,1,5,False,True,False,False,False,False,True,False,False,NaN,False,False,False,False,False,0,4,False,2023-09-15 18:13:35.660704+00:00
1,5959,2022_06_WAS_CHI,2022,6,976912,80,L,S,1,7,False,True,False,False,False,False,False,False,False,1,True,True,False,False,False,0,4,False,2023-09-15 18:13:35.660704+00:00
2,5959,2022_06_WAS_CHI,2022,6,976913,104,L,U,2,6,False,True,False,False,False,False,False,False,False,NaN,False,False,False,False,False,0,0,False,2023-09-15 18:13:35.660704+00:00
3,5959,2022_06_WAS_CHI,2022,6,976914,125,L,U,2,8,False,True,False,False,False,False,False,False,False,NaN,False,False,False,False,False,0,0,False,2023-09-15 18:13:35.660704+00:00
4,5959,2022_06_WAS_CHI,2022,6,976915,157,L,U,1,7,False,False,True,False,False,False,False,False,False,NaN,False,False,False,False,False,0,4,True,2023-09-15 18:13:35.660704+00:00

In [35]:
injuries_raw.head()

,season,game_type,team,week,gsis_id,position,full_name,first_name,last_name,report_primary_injury,report_secondary_injury,report_status,practice_primary_injury,practice_secondary_injury,practice_status,date_modified
0,2022,REG,ARI,1,00-0027993,C,Rodney Hudson,Rodney,Hudson,NaN,NaN,NaN,Not injury related - resting player,NaN,Did Not Participate In Practice,2022-09-07 21:10:03+00:00
1,2022,REG,ARI,1,00-0028946,LS,Aaron Brewer,Aaron,Brewer,NaN,NaN,NaN,Ankle,NaN,Full Participation in Practice,2022-09-09 19:55:06+00:00
2,2022,REG,ARI,1,00-0032127,LB,Markus Golden,Markus,Golden,NaN,NaN,NaN,Toe,NaN,Full Participation in Practice,2022-09-09 19:55:29+00:00
3,2022,REG,ARI,1,00-0034490,LB,Ezekiel Turner,Ezekiel,Turner,NaN,NaN,NaN,Shoulder,NaN,Full Participation in Practice,2022-09-09 19:55:44+00:00
4,2022,REG,ARI,1,00-0035924,RB,Jonathan Ward,Jonathan,Ward,NaN,NaN,NaN,Shoulder,NaN,Full Participation in Practice,2022-09-09 19:55:49+00:00

In [36]:
rush_raw.head()

,season,player,pfr_id,tm,age,pos,g,gs,att,yds,td,x1d,ybc,ybc_att,yac,yac_att,brk_tkl,att_br,loaded
0,2022,Derrick Henry,HenrDe00,TEN,28.0,RB,16.0,16.0,349.0,1538.0,13.0,65.0,739.0,2.1,799.0,2.3,35.0,10.0,2023-08-28
1,2022,Josh Jacobs,JacoJo01,LV,24.0,RB,17.0,17.0,340.0,1653.0,12.0,93.0,832.0,2.4,821.0,2.4,31.0,11.0,2023-08-28
2,2022,Nick Chubb,ChubNi00,CLE,27.0,RB,17.0,17.0,302.0,1525.0,12.0,69.0,830.0,2.7,695.0,2.3,28.0,10.8,2023-08-28
3,2022,Saquon Barkley,BarkSa00,NYG,25.0,RB,16.0,16.0,295.0,1312.0,10.0,62.0,749.0,2.5,563.0,1.9,12.0,24.6,2023-08-28
4,2022,Najee Harris,HarrNa00,PIT,24.0,RB,17.0,17.0,272.0,1034.0,7.0,45.0,577.0,2.1,457.0,1.7,21.0,13.0,2023-08-28

In [37]:
tackle_nfl_raw.head()

,game_id,play_id,solo_tackle,tackled_for_loss,assist_tackle,tackle_for_loss_1_player_id,tackle_for_loss_1_player_name,tackle_for_loss_2_player_id,tackle_for_loss_2_player_name,solo_tackle_1_team,solo_tackle_2_team,solo_tackle_1_player_id,solo_tackle_2_player_id,solo_tackle_1_player_name,solo_tackle_2_player_name,assist_tackle_1_player_id,assist_tackle_1_player_name,assist_tackle_1_team,assist_tackle_2_player_id,assist_tackle_2_player_name,assist_tackle_2_team,assist_tackle_3_player_id,assist_tackle_3_player_name,assist_tackle_3_team,assist_tackle_4_player_id,assist_tackle_4_player_name,assist_tackle_4_team,tackle_with_assist,tackle_with_assist_1_player_id,tackle_with_assist_1_player_name,tackle_with_assist_1_team,tackle_with_assist_2_player_id,tackle_with_assist_2_player_name,tackle_with_assist_2_team,old_game_id,season,nflverse_game_id,possession_team,offense_formation,offense_personnel,defenders_in_box,defense_personnel,number_of_pass_rushers,players_on_play,offense_players,defense_players,n_offense,n_defense
0,2022_01_BAL_NYJ,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022091107,2022,2022_01_BAL_NYJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,2022_01_BAL_NYJ,43.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,BAL,NaN,00-0037184,NaN,J.Ross,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2022091107,2022,2022_01_BAL_NYJ,BAL,NaN,NaN,NaN,NaN,NaN,47969;53059;42500;46279;53575;48364;46253;5460...,00-0036157;00-0035202;00-0037984;00-0029597;00...,00-0035537;00-0032134;00-0034419;00-0036500;00...,11,11
2,2022_01_BAL_NYJ,68.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-0033894,M.Williams,BAL,00-0033294,C.Clark,BAL,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2022091107,2022,2022_01_BAL_NYJ,NYJ,SINGLEBACK,"1 RB, 2 TE, 2 WR",7.0,"3 DL, 4 LB, 4 DB",NaN,53536;43586;53443;42371;42500;44999;43433;3309...,00-0036924;00-0032466;00-0036979;00-0032234;00...,00-0033294;00-0026190;00-0032574;00-0028278;00...,11,11
3,2022_01_BAL_NYJ,89.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2022091107,2022,2022_01_BAL_NYJ,NYJ,SHOTGUN,"1 RB, 2 TE, 2 WR",6.0,"3 DL, 4 LB, 4 DB",4.0,53536;43586;42371;53443;42500;44999;43433;3309...,00-0036924;00-0032466;00-0032234;00-0036979;00...,00-0033294;00-0026190;00-0032574;00-0028278;00...,11,11
4,2022_01_BAL_NYJ,115.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,BAL,NaN,00-0036280,NaN,M.Harrison,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2022091107,2022,2022_01_BAL_NYJ,NYJ,SINGLEBACK,"1 RB, 2 TE, 2 WR",7.0,"3 DL, 4 LB, 4 DB",NaN,53536;43586;53443;42371;42500;44999;43433;3309...,00-0036924;00-0032466;00-0036979;00-0032234;00...,00-0033294;00-0026190;00-0032574;00-0028278;00...,11,11

In [38]:
team_rosters_raw.head()

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,height,weight,college,player_id,espn_id,sportradar_id,yahoo_id,rotowire_id,pff_id,pfr_id,fantasy_data_id,sleeper_id,years_exp,headshot_url,ngs_position,week,game_type,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
0,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,76.0,225.0,Michigan,00-0019596,2330.0,41c44740-d0f6-44ab-8347-3b5d515e5ecf,5228.0,1350.0,698.0,BradTo00,4314.0,167.0,22,https://static.www.nfl.com/image/private/f_aut...,QB,10,REG,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.279
1,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,76.0,225.0,Michigan,00-0019596,2330.0,41c44740-d0f6-44ab-8347-3b5d515e5ecf,5228.0,1350.0,698.0,BradTo00,4314.0,167.0,22,https://static.www.nfl.com/image/private/f_aut...,QB,18,REG,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.432
2,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,76.0,225.0,Michigan,00-0019596,2330.0,41c44740-d0f6-44ab-8347-3b5d515e5ecf,5228.0,1350.0,698.0,BradTo00,4314.0,167.0,22,https://static.www.nfl.com/image/private/f_aut...,QB,14,REG,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.355
3,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,76.0,225.0,Michigan,00-0019596,2330.0,41c44740-d0f6-44ab-8347-3b5d515e5ecf,5228.0,1350.0,698.0,BradTo00,4314.0,167.0,22,https://static.www.nfl.com/image/private/f_aut...,QB,17,REG,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.413
4,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,76.0,225.0,Michigan,00-0019596,2330.0,41c44740-d0f6-44ab-8347-3b5d515e5ecf,5228.0,1350.0,698.0,BradTo00,4314.0,167.0,22,https://static.www.nfl.com/image/private/f_aut...,QB,6,REG,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.202

In [40]:
games_raw.head()

,gameId,season,week,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore,gameDatetime
0,2022090800,2022,1,LA,BUF,10,31,2022-09-08 20:20:00
1,2022091100,2022,1,ATL,NO,26,27,2022-09-11 13:00:00
2,2022091101,2022,1,CAR,CLE,24,26,2022-09-11 13:00:00
3,2022091102,2022,1,CHI,SF,19,10,2022-09-11 13:00:00
4,2022091103,2022,1,CIN,PIT,20,23,2022-09-11 13:00:00

In [41]:
players_raw

,nflId,height,weight,birthDate,collegeName,position,displayName
0,25511,6.333,225,1977-08-03,Michigan,QB,Tom Brady
1,29550,6.333,328,1982-01-22,Arkansas,T,Jason Peters
2,29851,6.167,225,1983-12-02,California,QB,Aaron Rodgers
3,30842,6.500,267,1984-05-19,UCLA,TE,Marcedes Lewis
4,33084,6.333,217,1985-05-17,Boston College,QB,Matt Ryan
...,...,...,...,...,...,...,...
1678,55200,6.500,266,NaT,Indiana,DT,Ryder Anderson
1679,55212,6.000,230,NaT,Iowa State,ILB,Jake Hummel
1680,55239,6.167,300,NaT,Pennsylvania,DT,Prince Emili
1681,55240,6.083,185,NaT,Buffalo,CB,Ja'Marcus Ingram
1682,55241,6.167,280,NaT,Coastal Carolina,DT,C.J. Brewer

In [42]:
plays_raw.head()

,gameId,playId,ballCarrierId,ballCarrierDisplayName,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,yardlineNumber,gameClock,preSnapHomeScore,preSnapVisitorScore,passResult,passLength,penaltyYards,prePenaltyPlayResult,playResult,playNullifiedByPenalty,absoluteYardlineNumber,offenseFormation,defendersInTheBox,passProbability,preSnapHomeTeamWinProbability,preSnapVisitorTeamWinProbability,homeTeamWinProbabilityAdded,visitorTeamWinProbilityAdded,expectedPoints,expectedPointsAdded,foulName1,foulName2,foulNFLId1,foulNFLId2
0,2022100908,3537,48723,Parker Hesse,(7:52) (Shotgun) M.Mariota pass short middle t...,4,1,10,ATL,TB,ATL,41,0 days 00:07:52,21,7,C,6.0,NaN,9,9,N,69,SHOTGUN,7.0,0.747284,0.976785,0.023215,-0.006110,0.006110,2.360609,0.981955,None,None,NaN,NaN
1,2022091103,3126,52457,Chase Claypool,(7:38) (Shotgun) C.Claypool right end to PIT 3...,4,1,10,PIT,CIN,PIT,34,0 days 00:07:38,14,20,None,NaN,NaN,3,3,N,76,SHOTGUN,7.0,0.416454,0.160485,0.839515,-0.010865,0.010865,1.733344,-0.263424,None,None,NaN,NaN
2,2022091111,1148,42547,Darren Waller,(8:57) D.Carr pass short middle to D.Waller to...,2,2,5,LV,LAC,LV,30,0 days 00:08:57,10,3,C,11.0,NaN,15,15,N,40,I_FORM,6.0,0.267933,0.756661,0.243339,-0.037409,0.037409,1.312855,1.133666,None,None,NaN,NaN
3,2022100212,2007,46461,Mike Boone,(13:12) M.Boone left tackle to DEN 44 for 7 ya...,3,2,10,DEN,LV,DEN,37,0 days 00:13:12,19,16,None,NaN,NaN,7,7,N,47,SINGLEBACK,6.0,0.592704,0.620552,0.379448,-0.002451,0.002451,1.641006,-0.043580,None,None,NaN,NaN
4,2022091900,1372,47857,Devin Singletary,(8:33) D.Singletary right guard to TEN 32 for ...,2,1,10,BUF,TEN,TEN,35,0 days 00:08:33,7,7,None,NaN,NaN,3,3,N,75,I_FORM,7.0,0.470508,0.836290,0.163710,0.001053,-0.001053,3.686428,-0.167903,None,None,NaN,NaN

In [43]:
tackles_raw.head()

       gameId  playId  nflId  tackle  assist  forcedFumble  pff_missedTackle
0  2022090800     101  42816       1       0             0                 0
1  2022090800     393  46232       1       0             0                 0
2  2022090800     486  40166       1       0             0                 0
3  2022090800     646  47939       1       0             0                 0
4  2022090800     818  40107       1       0             0                 0

In [44]:
tracking_all_weeks_raw.head()

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event,tracking_week
0,2022090800,56,53494,Rodger Saffold,1,2022-09-08 20:24:05.200000,5,BUF,left,88.370003,27.270000,1.62,1.15,0.16,231.740005,147.899994,NaN,1
1,2022090800,56,53494,Rodger Saffold,2,2022-09-08 20:24:05.299999,5,BUF,left,88.470001,27.129999,1.67,0.61,0.17,230.979996,148.529999,pass_arrived,1
2,2022090800,56,53494,Rodger Saffold,3,2022-09-08 20:24:05.400000,5,BUF,left,88.559998,27.010000,1.57,0.49,0.15,230.979996,147.050003,NaN,1
3,2022090800,56,53494,Rodger Saffold,4,2022-09-08 20:24:05.500000,5,BUF,left,88.639999,26.900000,1.44,0.89,0.14,232.380005,145.419998,NaN,1
4,2022090800,56,53494,Rodger Saffold,5,2022-09-08 20:24:05.599999,5,BUF,left,88.720001,26.799999,1.29,1.24,0.13,233.360001,141.949997,NaN,1

In [ ]:
DST_projections_raw = pd.read_csv(base_path + FantasyPros_Fantasy_Football_Projections_DST.csv)
K_projections_raw = pd.read_csv(base_path + FantasyPros_Fantasy_Football_Projections_K.csv)
QB_projections_raw = pd.read_csv(base_path + FantasyPros_Fantasy_Football_Projections_QB.csv)
RB_projections_raw = pd.read_csv(base_path + FantasyPros_Fantasy_Football_Projections_RB.csv)
TE_projections_raw
WR_projections_raw

In [27]:
DST_projections_raw.head()

NameError: name 'DST_projections_raw' is not defined

In [ ]:
K_projections_raw.head()

In [ ]:
QB_projections_raw.head()

In [ ]:
RB_projections_raw.head()

In [ ]:
TE_projections_raw.head()

In [ ]:
WR_projections_raw.head()

Get the sizes of the files

In [47]:
dataframes = {'combine_data': combine_data_raw,'ftn_charting':ftn_charting_raw,'injuries':injuries_raw,'rush':rush_raw,'tackle':tackle_nfl_raw,'team_rosters':team_rosters_raw,'games':games_raw,'players':players_raw,'plays':plays_raw,'tackles':tackles_raw,'tracking_all_weeks':tracking_all_weeks_raw}

for name, df in dataframes.items():
    print(f'{name}: {df.shape}')

combine_data: (1797, 18)
ftn_charting: (41643, 29)
injuries: (5682, 16)
rush: (366, 19)
tackle: (50147, 48)
team_rosters: (46163, 37)
games: (136, 8)
players: (1683, 7)
plays: (12486, 35)
tackles: (17426, 7)
tracking_all_weeks: (12187398, 18)